[submodule "Descriptive Statistics/Dealing with Data/DS-Unit-1-Sprint-1-Dealing-With-Data"]
	path = Descriptive Statistics/Dealing with Data/DS-Unit-1-Sprint-1-Dealing-With-Data
	url = https://github.com/samanthagatt/DS-Unit-1-Sprint-1-Dealing-With-Data.git
